<div class="container">
    <div class="container1">
        <div class="avatar-container">
            <img [src]="avatarUrl1" alt="Avatar 1" class="avatar" />
            <p>{{ name1 }}</p>
            <br />
            <p class="bio">{{ bio1 }}</p>
            <button class="btn git" (click)="git1()">GitHub</button>
        </div>
        <div class="avatar-container">
            <img [src]="avatarUrl2" alt="Avatar 2" class="avatar" />
            <p>{{ name2 }}</p>
            <br />
            <p class="bio">{{ bio2 }}</p>
            <button class="btn git" (click)="git2()">GitHub</button>
        </div>
    </div>
    <button class="btn back" routerLink="">Back</button>
    <button class="btn back" (click)="viewRepo()">View Site Repository</button>
</div>
