.nav {
    width: 100vw;
    height: 10vh;
    background: var(--spotify-btn);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px;
}

.btn {
    position: absolute;
    right: 20px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    outline: none;
    color: var(--spotify-background);
    background-color: var(--spotify-text-primary);
    cursor: pointer;
}

.creators2 {
    display: none;
}

@media screen and (max-width: 760px) {
    .nav {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .creators1 {
        display: none;
    }

    .creators2 {
        display: block;
        font-size: 20px;
    }

    .p1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .title-div {
        flex-direction: column;
    }

    .nav {
        height: 12vh;
    }
}

@media screen and (max-width: 360px) {
    .creators2 {
        font-size: 14px;
    }
}
