<div class="container">
    <div class="top-strip">
        <button routerLink="">Home</button>
        <button (click)="getSongs()">
            {{ hitPlay ? 'Skip Track' : 'Play' }}
        </button>

        <button *ngIf="numSongs === 1" (click)="isAutoplay = !isAutoplay">
            Autoplay {{ isAutoplay ? 'OFF' : 'ON' }}

        </button>
        <div *ngIf="availableSongs.length > 0">
            <audio
                *ngFor="let song of songsArr"
                [autoplay]="isAutoplay"
                controls
                [src]="song.preview_url"></audio>
        </div>
    </div>

   

    <div class="image-container" *ngIf="artists.length > 0">
        <button
            *ngFor="let artist of artists"
            [disabled]="guessed"
            (click)="checkArtistClicked(artist.name)">
            <img [src]="artist.images[0].url" alt="..." />
            <p>{{ artist.name }}</p>
        </button>

    </div>
    <div *ngIf="isCorrect" class="win-div">
        <h1>Correct! ✅</h1>
    </div>
    <div *ngIf="isWrong" class="win-div">
        <h1>Incorrect ❌</h1>
    </div>
    <div class="score-div">
        <h2>
            Score: {{ totalScore }} / {{ totalElapsed > -1 ? totalElapsed : 0 }}
        </h2>
    </div>
</div>
