<div class="error-modal" *ngIf="isError">
    <div class="inner-error">
        <h1>⚠️ Oops! Something Went Wrong, Heading Home ⚠️</h1>
        <h1>{{ countdown }} . . . 🚀</h1>
        <div class="redirect-now">
            <button class="btn" routerLink="">Home</button>
            <p>(click here if you are not redirected automatically)</p>
        </div>
    </div>
</div>
<div class="end-game-modal" *ngIf="livesRemaining.length === 0">
    <div class="game-over-container">
        <h2>
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⡀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣤⠀⠀⠀⢀⣴⣿⡶⠀⣾⣿⣿⡿⠟⠛⠁
            ⠀⠀⠀⠀⠀⠀⣀⣀⣄⣀⠀⠀⠀⠀⣶⣶⣦⠀⠀⠀⠀⣼⣿⣿⡇⠀⣠⣿⣿⣿⠇⣸⣿⣿⣧⣤⠀⠀⠀
            ⠀⠀⢀⣴⣾⣿⡿⠿⠿⠿⠇⠀⠀⣸⣿⣿⣿⡆⠀⠀⢰⣿⣿⣿⣷⣼⣿⣿⣿⡿⢀⣿⣿⡿⠟⠛⠁⠀⠀
            ⠀⣴⣿⡿⠋⠁⠀⠀⠀⠀⠀⠀⢠⣿⣿⣹⣿⣿⣿⣿⣿⣿⡏⢻⣿⣿⢿⣿⣿⠃⣼⣿⣯⣤⣴⣶⣿⡤⠀
            ⣼⣿⠏⠀⣀⣠⣤⣶⣾⣷⠄⣰⣿⣿⡿⠿⠻⣿⣯⣸⣿⡿⠀⠀⠀⠁⣾⣿⡏⢠⣿⣿⠿⠛⠋⠉⠀⠀⠀
            ⣿⣿⠲⢿⣿⣿⣿⣿⡿⠋⢰⣿⣿⠋⠀⠀⠀⢻⣿⣿⣿⠇⠀⠀⠀⠀⠙⠛⠀⠀⠉⠁⠀⠀⠀⠀⠀⠀⠀
            ⠹⢿⣷⣶⣿⣿⠿⠋⠀⠀⠈⠙⠃⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠈⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣤⣴⣶⣦⣤⡀⠀
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⠀⠀⠀⠀⠀⣠⡇⢰⣶⣶⣾⡿⠷⣿⣿⣿⡟⠛⣉⣿⣿⣿⠆
            ⠀⠀⠀⠀⠀⠀⢀⣤⣶⣿⣿⡎⣿⣿⣦⠀⠀⠀⢀⣤⣾⠟⢀⣿⣿⡟⣁⠀⠀⣸⣿⣿⣤⣾⣿⡿⠛⠁⠀
            ⠀⠀⠀⠀⣠⣾⣿⡿⠛⠉⢿⣦⠘⣿⣿⡆⠀⢠⣾⣿⠋⠀⣼⣿⣿⣿⠿⠷⢠⣿⣿⣿⠿⢻⣿⣧⠀⠀⠀
            ⠀⠀⠀⣴⣿⣿⠋⠀⠀⠀⢸⣿⣇⢹⣿⣷⣰⣿⣿⠃⠀⢠⣿⣿⢃⣀⣤⣤⣾⣿⡟⠀⠀⠀⢻⣿⣆⠀⠀
            ⠀⠀⠀⣿⣿⡇⠀⠀⢀⣴⣿⣿⡟⠀⣿⣿⣿⣿⠃⠀⠀⣾⣿⣿⡿⠿⠛⢛⣿⡟⠀⠀⠀⠀⠀⠻⠿⠀⠀
            ⠀⠀⠀⠹⣿⣿⣶⣾⣿⣿⣿⠟⠁⠀⠸⢿⣿⠇⠀⠀⠀⠛⠛⠁⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀⠀⠀⠀⠈⠙⠛⠛⠛⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            <button class="game-over-btn" routerLink="">Return Home</button>
            <p>
                Final Score: {{ totalScore }} /
                {{ totalElapsed > -1 ? totalElapsed : 0 }}
            </p>
        </h2>
    </div>
</div>
<div class="container">
    <div class="top-bar">
        <div>
            <h4>Lives Remaining:&nbsp;&nbsp;</h4>
            <h1 *ngFor="let live of livesRemaining" class="lives-symbol">♪</h1>
        </div>
        <h4>{{ selectedGenre ? selectedGenre : 'No Genre Selected' }}</h4>
        <h4>
            Score: {{ totalScore }} /
            {{ totalElapsed > -1 ? totalElapsed : 0 }}
        </h4>
        <button class="btn" (click)="test()">Test</button>
    </div>
    <div class="top-strip">
        <button class="btn" routerLink="">Home</button>
        <button class="btn" (click)="getSongs()">
            {{ hitPlay ? 'Skip Track' : 'Play' }}
        </button>

        <button class="btn" (click)="isAutoplay = !isAutoplay">
            Autoplay {{ isAutoplay ? 'OFF' : 'ON' }}
        </button>
        <div class="song-div" *ngIf="availableSongs.length > 0">
            <audio
                [autoplay]="isAutoplay"
                controls
                [src]="songsArr[songIndex].preview_url"></audio>
            <div class="toggle-song-div" *ngIf="songsArr.length > 1">
                <button
                    class="btn"
                    (click)="prevSong()"
                    [disabled]="prevDisabled">
                    Previous Song
                </button>
                <button
                    class="btn"
                    (click)="nextSong()"
                    [disabled]="nextDisabled">
                    Next Song
                </button>
                <p>{{ songIndex + 1 }}/{{ songsArr.length }}</p>
            </div>
        </div>
    </div>

    <div class="image-container" *ngIf="artists.length > 0">
        <button
            class="artist-btn"
            *ngFor="let artist of artists"
            [disabled]="guessed"
            (click)="checkArtistClicked(artist.name)">
            <img [src]="artist.images[0].url" alt="..." />
            <p>{{ artist.name }}</p>
        </button>
    </div>
    <div *ngIf="isCorrect" class="win-div">
        <h1>Correct! ✅</h1>
    </div>
    <div *ngIf="isWrong" class="win-div">
        <h1>Incorrect ❌</h1>
    </div>
    <div class="score-div">
        <h2>
            Score: {{ totalScore }} /
            {{ totalElapsed > -1 ? totalElapsed : 0 }}
        </h2>
    </div>
</div>
