.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.lives-high {
    color: var(--spotify-green);
}

.lives-medium {
    color: rgb(255, 255, 146);
    animation: animate-lives 1s infinite;
}

.lives-low {
    color: rgb(249, 106, 106);
    animation: animate-lives 0.5s infinite;
}

@keyframes animate-lives {
    50% {
        scale: 1.2;
    }
}

.error-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redirect-now {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.end-game-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-container {
    display: flex;
    justify-content: center;
    width: 80vw;
}

.game-over-container * {
    text-align: center;
}

.game-over-btn {
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    animation-name: end;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 10px;
}

@keyframes end {
    25% {
        scale: 1.1;
        background-color: var(--spotify-green);
    }
    50% {
        scale: 1;
    }
    75% {
        scale: 1.1;
        background-color: var(--spotify-green);
    }
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: 10px;
}

.top-bar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-strip {
    width: 70vw;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 40px;
    padding: 0;
}

.top-strip * {
    margin: 8px;
}

img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.artist-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.126);
    border-radius: 10px;
}

.win-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.score-div {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.song-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* toggle switch css */

.toggle-song-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: '';
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: var(--spotify-green);
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/* end toggle switch css */
