.container {
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.home-btn {
    cursor: pointer;
    font-size: 60px;
    position: static;
    top: 0;
    left: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--spotify-background);
    background-color: var(--spotify-text-primary);
}

.lives-high {
    color: var(--spotify-green);
    animation: animate-lives 3s infinite;
}

.lives-medium {
    color: rgb(255, 255, 146);
    animation: animate-lives 1s infinite;
}

.lives-low {
    color: rgb(249, 106, 106);
    animation: animate-lives 0.5s infinite;
}

@keyframes animate-lives {
    50% {
        scale: 1.2;
    }
}

.error-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redirect-now {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.end-game-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.end1 * {
    margin: 10px;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-over-container * {
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: 10px;
}

.top-bar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-strip {
    width: 70vw;
    display: flex;
    margin: 10px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 40px;
    padding: 10px;
}

.top-strip * {
    margin: 8px;
}

.img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin: 2px;
    border-radius: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    overflow-y: scroll;
}

.artist-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: var(--spotify-text-primary);
    color: var(--spotify-background);
    border-radius: 10px;
    transition: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.artist-btn:hover {
    scale: 1.02;
}

.win-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.score-round-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.score-el {
    background-color: var(--spotify-green);
    color: var(--spotify-background);
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.round-el {
    padding: 2px 10px;
    border-radius: 10px;
}

.song-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-skip {
    object-fit: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.cursor-default {
    cursor: default;
}

.prev-song {
    scale: -1;
}

.toggle-song-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--spotify-green);
    border-radius: 20px;
    padding: 2px 20px;
    color: black;
}

.twitter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    position: static;
    bottom: 0px;
    margin: auto;
}

/* toggle switch css */

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: var(--spotify-text-secondary);
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch-light {
    background: var(--spotify-background);
}

.toggle-switch:before,
.toggle-switch:after {
    content: '';
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: var(--spotify-green);
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: var(--spotify-green);
}

.light-mode {
    background-color: var(--spotify-text-primary);
    color: var(--spotify-background);
}

.light-mode-btns {
    background-color: var(--spotify-background);
    color: var(--spotify-text-primary);
}

.correct-guess {
    background-color: var(--spotify-green);
}

.wrong-guess {
    background-color: rgb(249, 106, 106);
}

/* end toggle switch css */

@media screen and (max-width: 1000px) {
    .top-bar {
        width: 80vw;
    }
}

@media screen and (max-width: 860px) {
    .top-bar * {
        scale: 0.9;
    }

    audio {
        scale: 0.9;
    }

    .artist-btn {
        margin: 5px;
    }
}

@media screen and (max-width: 800px) {
    .top-bar * {
        scale: 0.8;
    }

    audio {
        scale: 0.8;
    }

    .artist-btn {
        margin: 3px;
        width: 130px;
        height: 130px;
    }

    .artist-btn img {
        object-fit: cover;
        width: 100px;
    }

    .artist-btn p {
        height: 30px;
    }
}

@media screen and (max-width: 750px) {
    .top-bar {
        width: 85vw;
    }

    .top-bar * {
        scale: 0.75;
    }

    audio {
        scale: 0.8;
    }

    .artist-btn:hover {
        scale: 1;
    }
}

@media screen and (max-width: 720px) {
    audio {
        scale: 0.7;
    }

    .top-bar {
        justify-content: center;
    }

    .view-records-btn {
        width: 80px;
    }
}

@media screen and (max-width: 650px) {
    .top-bar {
        margin-left: 30px;
    }

    .top-strip {
        height: 140px;
    }

    .top-strip *:not(audio) {
        scale: 0.9;
    }

    audio {
        scale: 0.6;
    }

    .view-records-btn {
        display: none;
    }
}

@media screen and (max-width: 570px) {
    .top-bar {
        margin-left: 50px;
    }

    .top-strip {
        width: 90vw;
    }

    .end1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .top-bar {
        flex-wrap: wrap;
        margin-left: 30px;
    }

    .top-strip {
        width: 97vw;
    }
}

@media screen and (max-width: 420px) {
    .top-strip {
        height: 100px;
    }

    .top-strip *:not(audio) {
        scale: 0.8;
    }

    .toggle {
        scale: 0.8;
    }

    audio {
        scale: 0.5;
    }
}

@media screen and (max-width: 400px) {
    .artist-btn {
        width: 100px;
        height: 100px;
    }

    .artist-btn img {
        object-fit: cover;
        width: 80px;
        margin: 0;
    }

    .artist-btn p {
        font-size: 10px;
        height: 30px;
    }
}

@media screen and (max-width: 360px) {
    .top-strip *:not(audio) {
        scale: 0.7;
        justify-content: flex-start;
    }
}
