:root {
    --spotify-green: rgb(22, 219, 99);
    --spotify-background: rgb(18, 18, 18);
    --spotify-text-primary: rgb(248, 248, 248);
    --spotify-text-secondary: rgb(161, 161, 161);
    --spotify-btn: rgb(35, 35, 35);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--spotify-text-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--spotify-text-secondary);
}

@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    font-family: poppins;
}

html {
    background-color: var(--spotify-background);
    color: var(--spotify-text-primary);
    overflow-y: scroll;
}
