@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    font-family: poppins;
}

html {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
