.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    padding-top: 90px;
}

.light-mode {
    background-color: var(--spotify-text-primary);
    color: var(--spotify-background);
}

.light-mode-btns {
    color: var(--spotify-text-primary);
    background-color: var(--spotify-background);
}

.toggle-theme-btn {
    margin-right: 10px;
}

.description {
    color: var(--spotify-text-secondary);
}

.logo-div {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 12px;
    width: 6rem;
}

select,
button {
    color: var(--spotify-background);
    background-color: var(--spotify-text-primary);
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px;
    text-align: center;
    border: none;
    outline: none;
    border: none;
}

button:enabled {
    cursor: pointer;
    background-color: var(--spotify-green);
}
