<app-nav></app-nav>
<div class="container" [ngClass]="{ 'light-mode': !isDarkMode }">
    <div *ngIf="authLoading || configLoading">Loading...</div>
    <div *ngIf="!authLoading && !configLoading">
        <p>Genre</p>
        <p class="description">
            Select the specific genre of music (e.g., rock, pop, hip-hop) you
            want to play in the game
        </p>
        <select
            [(ngModel)]="selectedGenre"
            (ngModelChange)="setGenre($event)"
            [ngClass]="{ 'light-mode-btns': !isDarkMode }"
            id="genre-select">
            <option value="">Select a genre</option>
            <option [value]="genre" *ngFor="let genre of genres">
                {{ genre }}
            </option>
        </select>
        <br />
        <br />
        <p>Number of Songs</p>
        <p class="description">
            Specify the number of songs provided as hints per round
        </p>
        <select
            [(ngModel)]="selectedSong"
            [ngClass]="{ 'light-mode-btns': !isDarkMode }">
            <option *ngFor="let song of songs" [value]="song">
                {{ song }}
            </option>
        </select>
        <br />
        <br />
        <p>Number of Artists</p>
        <p class="description">
            Select the number of artists you must choose between for each round
        </p>
        <select
            [(ngModel)]="selectedArtist"
            [ngClass]="{ 'light-mode-btns': !isDarkMode }">
            <option *ngFor="let artist of artists" [value]="artist">
                {{ artist }}
            </option>
        </select>
        <br />
        <br />
        <p>
            Select the maximum number of incorrect guesses allowed before Game
            Over
        </p>
        <p class="description">
            Select difficulty, this adjusts how many lives you start with: Easy
            (10), Medium (5), Hard (1)
        </p>
        <select
            [(ngModel)]="selectedGuesses"
            [ngClass]="{ 'light-mode-btns': !isDarkMode }">
            <option *ngFor="let guess of guesses" [value]="guess">
                {{ guess }}
            </option>
        </select>
        <br />
        <br />
        <button class="toggle-theme-btn" (click)="changeTheme()">
            Toggle Theme
        </button>
        <button
            (click)="syncWithService()"
            routerLink="/game"
            id="goToGame"
            [disabled]="selectedGenre === ''">
            Go to game>
        </button>
    </div>
    <div class="logo-div">
        <p>Powered by</p>
        <a href="https://open.spotify.com/" target="_blank">
            <img
                class="logo"
                src="../../assets/images/spotify-logo1.svg"
                alt="spotify logo" />
        </a>
    </div>
</div>
