<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
    Genre:
    <select
        [(ngModel)]="selectedGenre"
        (ngModelChange)="setGenre($event)"
        id="genre-select">
        <option [value]=""></option>
        <option [value]="genre" *ngFor="let genre of genres">
            {{ genre }}
        </option>
    </select>
    
    <br>
   
    Number of Songs:
    <select [(ngModel)]="selectedSong">
        <option *ngFor="let song of songs" [value]="song">{{ song }}</option>
      </select>
    <br>
    Number of Artists:
    <select [(ngModel)]="selectedArtist">
        <option *ngFor="let artist of artists" [value]="artist">{{ artist }}</option>
      </select>
    <br>
    <button routerLink="/game">Go to game></button>
</div>
