.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    padding-top: 30px;
}

.light-mode {
    background-color: var(--spotify-text-primary);
    color: var(--spotify-background);
}

.light-mode-btns {
    color: var(--spotify-text-primary);
    background-color: var(--spotify-background);
}

.toggle-theme-btn {
    margin-right: 10px;
}

.description {
    color: var(--spotify-text-secondary);
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}

.logo {
    margin-top: 12px;
    width: 6rem;
}

select,
button {
    color: var(--spotify-background);
    background-color: var(--spotify-text-primary);
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    border: none;
    outline: none;
    border: none;
}

button {
    padding: 10px;
}

button:enabled {
    cursor: pointer;
    background-color: var(--spotify-green);
}

button:disabled {
    opacity: 0.5;
}

@media screen and (max-width: 430px) {
    .title {
        font-size: 22px;
    }

    .description {
        font-size: 20px;
    }

    select,
    button {
        font-size: 16px;
    }
}
